<!--modal actualizacion-->
<div id="modal-primera-infancia" class="modal">
  <div class="modal-content">
    <h6>Adolescencia</h6>
    <div class="divider"></div>
    <br />
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="P_PLANIFICA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Planificación</label>
      </div>
      <div class="input-field col P_METODO s6">
        <input type="text" id="P_METODO" />
        <label>Metodo</label>
      </div>
      <div class="input-field col P_MOTIVO s12">
        <input type="text" id="P_MOTIVO" />
        <label>Motivo</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="TIPOSALUDID">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Examen</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 CITOLOGIA">
        <select class="select" id="CITOLOGIA">
          <option value="A">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Citologia</label>
      </div>
      <div class="input-field col s6 CITOLOGIADETALLE">
        <select class="select" id="CITOLOGIADETALLE">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Citologia detalle</label>
      </div>
    </div>
    <h6>Hijos</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="H_TOTALVIVO" />
        <label>Total vivos</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="H_TOTALABORTADO" />
        <label>Total abortos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="TOS">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>TOS</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="LESIONES">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Lesiones</label>
      </div>
    </div>
    <h6>Vacunación</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="V_TD">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>TD</label>
      </div>
      <div class="input-field col s6 V_TDCUAL">
        <select class="select" id="V_TDCUAL">
          <option value="D1">D1</option>
          <option value="D2">D2</option>
          <option value="D3">D3</option>
          <option value="D4">D4</option>
        </select>
        <label>TD Cual?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="V_VPH">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>VHP</label>
      </div>
      <div class="input-field SENO col s6">
        <select class="select" id="SENO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Examen seno</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field  SENOCUAL col s6">
        <input type="text" id="SENOCUAL" />
        <label>Cual examen?</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="VIOLENCIA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Violencia</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a
      id="guardar-persona-adolescencia"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Guardar</a
    >
    <a
      id="modal-update-cancelar"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Cancelar</a
    >
  </div>
</div>
<!--end modal actualizacion-->
<!--End modals-->
<script>
  $("#modal-primera-infancia").modal({ dismissible: false });
  $("#modal-primera-infancia").modal("open");
  $(".select").formSelect();

  $("#P_PLANIFICA").change(function() {
    if ($("#P_PLANIFICA").val() == "SI") {
      $(".P_MOTIVO").hide();
      $(".P_METODO").show();
    } else {
      $(".P_MOTIVO").show();
      $(".P_METODO").hide();
    }
  });
  $("#P_PLANIFICA").change()
  //femenino
  $(".CITOLOGIA").change(function(){
    if ($(".CITOLOGIA").val()=="SI") {
      $(".CITOLOGIADETALLE").show();
    }else{
      $(".CITOLOGIADETALLE").hide();
    }
  })
  if ($("#GENEROID").val() == 1) {
    $(".CITOLOGIA").show();
    $(".CITOLOGIADETALLE").show();
    $(".V_TD").show();
    if (data.edad >= 18 && data.edad <= 28) {
      $(".SENO").show();
      $(".SENOCUAL").show();
    }
    //masculino
  } else {
    $(".SENO").hide();
    $(".V_TDCUAL").hide();
    $(".SENOCUAL").hide();
    $(".V_TD").hide();
    $(".CITOLOGIA").hide();
    $(".CITOLOGIADETALLE").hide();
  }
  $("#V_TD").change(function() {
    if ($("#V_TD").val() == "SI") {
      $(".V_TDCUAL").show();
    } else {
      $(".V_TDCUAL").hide();
    }
  });

  $("#SENO").change(function() {
    if ($("#SENO").val() == "SI") {
      $(".SENOCUAL").show();
    } else {
      $(".SENOCUAL").hide();
    }
  });

  $("#guardar-persona-adolescencia").click(function() {

    if($("#P_PLANIFICA").val()=="SI"){
      if($("#P_METODO").val()==""){
        M.toast({html: 'Digite un método'});
        return false
      }
    }else{
      if($("#P_MOTIVO").val()==""){
        M.toast({html: 'Digite un motivo'});
        return false
      }
    }

    if ($("#SENO").val() == "SI") {
      if($("#SENOCUAL").val()==""){
        M.toast({html: 'Digite un examen de seno'});
        return false
      }
    } 


    datos = {
      PERSONAID: localStorage.getItem("PERSONAID"),
      P_PLANIFICA: $("#P_PLANIFICA").val(),
      P_METODO: $("#P_METODO").val(),
      P_MOTIVO: $("#P_MOTIVO").val(),
      EXAMENMEDICO: $("#EXAMENMEDICO").val(),
      CITOLOGIA: $("#CITOLOGIA").val(),
      CITOLOGIADETALLE: $("#CITOLOGIADETALLE").val(),
      H_TOTALVIVO: $("#H_TOTALVIVO").val(),
      H_TOTALABORTADO: $("#H_TOTALABORTADO").val(),
      TOS: $("#TOS").val(),
      LESIONES: $("#LESIONES").val(),
      V_TD: $("#V_TD").val(),
      V_TDCUAL: $("#V_TDCUAL").val(),
      V_VPH: $("#V_VPH").val(),
      SENO: $("#SENO").val(),
      SENOCUAL: $("#SENOCUAL").val(),
      VIOLENCIA: $("#VIOLENCIA").val(),
      USUARIOCREACION: localStorage.getItem("userName"),
      MOMENTOCREACION: getFechaActual(),
      ESTADOREGISTRO: 1,
      UUID: uuid.v4()
    };
    addPersonaAdolescensJuventudiaLocal(datos);
  });
</script>
