
.title-nav i {
    float: left;
    margin-right: 4px;
}

.background{
    width: 100%;
    height: -webkit-fill-available;
    background-image: url(../img/bg-menu.jpg);
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
    background-size: contain;
}

li.separador {
    border-top: 1px solid #77777775;
    margin-left: 8px;
    margin-right: 8px;
}