<!--modal actualizacion-->
<div id="modal-primera-infancia" class="modal">
  <div class="modal-content">
    <h6>Información primera infancia</h6>
    <div class="divider"></div>
    <br />
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="CONTROLCYD">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control CYD</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="LACTANCIA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Lactancia</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field tiempo-lactancia col s6">
        <input type="number" id="LACTANCIATIEMPO" />
        <label>Lactancia tiempo</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="N_PESONACER" />
        <label>Peso al nacer</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="N_PESOACTUAL" />
        <label>Peso Actual</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="N_TALLANACER" />
        <label>Talla al nacer</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="N_TALLAACTUAL" />
        <label>Talla Actual</label>
      </div>
    </div>
    <div class="divider"></div>
    <h6>Vacunación</h6>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="V_CARNE">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Carnet</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="V_BCG">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>BCG</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="V_HEPB">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>HEPB</label>
      </div>
      <div class="input-field col s6">
        <select class="select" name="V_POLIO" id="V_POLIO">
          <option value="0">Ninguna</option>
          <option value="1">Dosis 1</option>
          <option value="2">Dosis 2</option>
          <option value="3">Dosis 3</option>
        </select>
        <label>Polio</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" name="V_PENTAVALENTE" id="V_PENTAVALENTE">
          <option value="0">Ninguna</option>
          <option value="1">Dosis 1</option>
          <option value="2">Dosis 2</option>
          <option value="3">Dosis 3</option>
        </select>
        <label>Pentavalente</label>
      </div>
      <div class="input-field col s6">
        <select class="select" class="select" name="V_ROTAVIRUS" id="V_ROTAVIRUS">
          <option value="0">Ninguna</option>
          <option value="1">Dosis 1</option>
          <option value="2">Dosis 2</option>
        </select>
        <label>Rotavirus</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" name="V_NEUMOCOCO" id="V_NEUMOCOCO">
          <option value="0">Ninguna</option>
          <option value="1">Dosis 1</option>
          <option value="2">Dosis 2</option>
        </select>
        <label>Neumococo</label>
      </div>
      <div class="input-field col s6">
        <select class="select" name="V_INFLUENZA" id="V_INFLUENZA">
          <option value="0">Ninguna</option>
          <option value="1">Dosis 1</option>
          <option value="2">Dosis 2</option>
        </select>
        <label>Influenza</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="ESQUEMA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Esquema</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="MALTRATO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Maltrato familiar</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a
      id="primerainfancia-guardar"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Guardar</a
    >
    <a
      id="modal-update-cancelar"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Cancelar</a
    >
  </div>
</div>
<!--end modal actualizacion-->
<!--End modals-->
<script>
  $("#modal-primera-infancia").modal({ dismissible: false });
  $("#modal-primera-infancia").modal("open");
  $(".select").formSelect();
  $("#LACTANCIA").change(function () {
      if($("#LACTANCIA").val()=="SI"){
        $("#LACTANCIATIEMPO").parent().show()
      }else{
        $("#LACTANCIATIEMPO").parent().hide()
      }
    })
    $("#LACTANCIA").change()
  $("#primerainfancia-guardar").click(function() {

    
    if($("#LACTANCIA").val()=="SI"){
      if($("#LACTANCIATIEMPO").val()==""){
        M.toast({html: 'Digite el tiempo de lactancia'});
        return false
      }
    }
    if($("#N_PESONACER").val()==""){
      M.toast({html: 'Digite el peso al nacer'});
      return false
    }
    if($("#N_PESOACTUAL").val()==""){
      M.toast({html: 'Digite el peso actual'});
      return false
    }
    if($("#N_TALLANACER").val()==""){
      M.toast({html: 'Digite la talla al nacer'});
      return false
    }
    if($("#N_TALLAACTUAL").val()==""){
      M.toast({html: 'Digite la talla actual'});
      return false
    }
    if($("#V_POLIO").val()==""){
      M.toast({html: 'Digite las docis de polio'});
      return false
    }
    if($("#V_PENTAVALENTE").val()==""){
      M.toast({html: 'Digite las docis de pentavalente'});
      return false
    }
    if($("#V_ROTAVIRUS").val()==""){
      M.toast({html: 'Digite las docis de rotavirus'});
      return false
    }
    if($("#V_NEUMOCOCO").val()==""){
      M.toast({html: 'Digite las docis neumococo'});
      return false
    }
    if($("#V_INFLUENZA").val()==""){
      M.toast({html: 'Digite las docis de influenza'});
      return false
    }

    data = {
      PERSONAID: parseInt(localStorage.getItem("PERSONAID")),
      CONTROLCYD: $("#CONTROLCYD").val(),
      LACTANCIA: $("#LACTANCIA").val(),
      LACTANCIATIEMPO: $("#LACTANCIATIEMPO").val(),
      N_PESONACER: $("#N_PESONACER").val(),
      N_PESOACTUAL: $("#N_PESOACTUAL").val(),
      N_TALLANACER: $("#N_TALLANACER").val(),
      N_TALLAACTUAL: $("#N_TALLAACTUAL").val(),
      V_CARNE: $("#V_CARNE").val(),
      V_BCG: $("#V_BCG").val(),
      V_HEPB: $("#V_HEPB").val(),
      V_POLIO: $("#V_POLIO").val(),
      V_PENTAVALENTE: $("#V_PENTAVALENTE").val(),
      V_ROTAVIRUS: $("#V_ROTAVIRUS").val(),
      V_NEUMOCOCO: $("#V_NEUMOCOCO").val(),
      V_INFLUENZA: $("#V_INFLUENZA").val(),
      CARIOGENICOS:'',
      ODONTOLOGO:'',
      ESQUEMA: $("#ESQUEMA").val(),
      MALTRATO: $("#MALTRATO").val(),
      USUARIOCREACION: localStorage.getItem("userName"),
      MOMENTOCREACION: parseInt(getFechaActual()),
      ESTADOREGISTRO: 1,
      UUID: uuid.v4(),
      CARIOGENICOS:'',
      ODONTOLOGO:''
    };
    console.log(data);
    addPersonaPrimeraInfanciaLocal(data);
  });
</script>
