<!--modal actualizacion-->
<div id="modal-segunda-infancia" class="modal">
  <div class="modal-content">
    <h6>Adultez</h6>
    <div class="divider"></div>
    <br />
    <h6>Valor nutricional</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s4">
        <input id="N_PESOACTUAL" type="number" min="0" />
        <label>Peso</label>
      </div>
      <div class="input-field col s4">
        <input id="N_TALLAACTUAL" type="number" min="0" />
        <label>Talla</label>
      </div>
      <div class="input-field col s4">
        <input id="N_CINTURA" type="number" min="0"/>
        <label>Cintura</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field tiempo-lactancia col s4">
        <select id="FUMA" class="select">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Fuma</label>
      </div>
      <div class="input-field tiempo-lactancia col s4">
        <select id="TOMA" class="select">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>TOMA</label>
      </div>
      <div class="input-field tiempo-lactancia col s4">
        <select class="select" id="EJERCICIO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Ejercicio</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="TOS">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>TOS</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="LESIONES">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Lesiones en piel</label>
      </div>
    </div>

    <div class="row SENO">
      <div class="input-field col s6">
        <select class="select" id="SENO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Examen seno</label>
      </div>
      <div id="SENODETALLEF" class="input-field col s6">
        <input type="text" id="SENODETALLE" />
        <label>Cual?</label>
      </div>
    </div>
    <div class="row CITOLOGIA">
      <div class="input-field col dosis-vph s6">
        <select class="select" id="CITOLOGIA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Citología</label>
      </div>
      <div id="CITOLOGIADETALLEF" class="input-field col s6">
        <input type="text" id="CITOLOGIADETALLE" />
        <label>Cual?</label>
      </div>
    </div>
    <div class="row PROSTATA">
      <div class="input-field col s6">
        <select class="select" id="PROSTATA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Prostata</label>
      </div>
      <div id="PROSTATADETALLEF" class="input-field col s6">
        <input id="PROSTATADETALLE" type="text" />
        <label>Cual?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="VISION">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Visual</label>
      </div>
      <div id="VISIONDETALLEF" class="input-field col s6">
        <input type="text" id="VISIONDETALLE" />
        <label>Cual?</label>
      </div>
    </div>
    <h6>Enfermedades</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="E_HIPERTENSION">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Hipertención</label>
      </div>
      <div id="E_HIPERTENSIONCONTROLF" class="input-field col s6">
        <select class="select" id="E_HIPERTENSIONCONTROL">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="E_DIABETES">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Diabetes</label>
      </div>
      <div id="E_DIABETESCONTROLF" class="input-field col s6">
        <select class="select" id="E_DIABETESCONTROL">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="E_EPOC">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>EPOC</label>
      </div>
      <div id="E_EPOCCONTROLF" class="input-field col s6">
        <select class="select" id="E_EPOCCONTROL">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="E_CANCER">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Cancer</label>
      </div>
      <div id="E_CANCERCONTROLF" class="input-field col s6">
        <select class="select" id="E_CANCERCONTROL">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control?</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a
      id="guardar-persona-adultez"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Guardar</a
    >
    <a
      id="modal-update-cancelar"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Cancelar</a
    >
  </div>
</div>
<!--end modal actualizacion-->
<!--End modals-->
<script>
  $("#modal-segunda-infancia").modal({ dismissible: false });
  $("#modal-segunda-infancia").modal("open");
  $(".select").formSelect();

  if (localStorage.getItem("genero") == 1) {
    $("#CITOLOGIA").parent().parent().parent().show()
    $("#PROSTATA").parent().parent().parent().hide()
    $("#SENO").parent().parent().parent().show()
    $("#PROSTATA").val('NO')
    }else{
      $("#CITOLOGIA").val("NO")  
      $("#SENO").val("NO")  
    $("#PROSTATA").parent().parent().parent().show()
    $("#CITOLOGIA").parent().parent().parent().hide()
    $("#SENO").parent().parent().parent().hide()
  }

$("#SENO").change(function(){
  if($("#SENO").val()=="SI"){
    $("#SENODETALLEF").show()
  }else{
    $("#SENODETALLEF").hide()
  }
})

$("#CITOLOGIA").change(function(){
  if($("#CITOLOGIA").val()=="SI"){
    $("#CITOLOGIADETALLEF").show()
  }else{
    $("#CITOLOGIADETALLEF").hide()
  }
})

$("#PROSTATA").change(function(){
  if($("#PROSTATA").val()=="SI"){
    $("#PROSTATADETALLEF").show()
  }else{
    $("#PROSTATADETALLEF").hide()
  }
})

$("#VISION").change(function(){
  if($("#VISION").val()=="SI"){
    $("#VISIONDETALLEF").show()
  }else{
    $("#VISIONDETALLEF").hide()
  }
})

$("#E_HIPERTENSION").change(function(){
  if($("#E_HIPERTENSION").val()=="SI"){
    $("#E_HIPERTENSIONCONTROLF").show()
  }else{
    $("#E_HIPERTENSIONCONTROLF").hide()
  }
})

$("#E_DIABETES").change(function(){
  if($("#E_DIABETES").val()=="SI"){
    $("#E_DIABETESCONTROLF").show()
  }else{
    $("#E_DIABETESCONTROLF").hide()
  }
})

$("#E_EPOC").change(function(){
  if($("#E_EPOC").val()=="SI"){
    $("#E_EPOCCONTROLF").show()
  }else{
    $("#E_EPOCCONTROLF").hide()
  }
})

$("#E_CANCER").change(function(){
  if($("#E_CANCER").val()=="SI"){
    $("#E_CANCERCONTROLF").show()
  }else{
    $("#E_CANCERCONTROLF").hide()
  }
})



$("#guardar-persona-adultez").click(function(){

    if($("#N_PESOACTUAL").val()==""){
      M.toast({html: 'Digite el peso actual'});
      return false
    }
    if($("#N_TALLAACTUAL").val()==""){
      M.toast({html: 'Digite la talla actual'});
      return false
    }
    if($("#N_CINTURA").val()==""){
      M.toast({html: 'Digite el perimetro de la cintura'});
      return false
    }
    if (localStorage.getItem("genero") == 1) {
      if($("#SENO").val()=="SI"){
        if($("#SENODETALLE").val()==""){
          M.toast({html: 'Digite el examen de seno'});
          return false
        }
      }
    
      if($("#CITOLOGIA").val()=="SI" && localStorage.getItem("genero") == 1){
        if($("#CITOLOGIADETALLE").val()==""){
          M.toast({html: 'Digite el examen de citologia'});
          return false
        }
      }
    }
  if($("#PROSTATA").val()=="SI" && localStorage.getItem("genero") == 2){
    if($("#PROSTATADETALLE").val()==""){
      M.toast({html: 'Digite el examen de prostata'});
      return false
    }
  }
  if($("#VISION").val()=="SI"){
    if($("#VISIONDETALLE").val()==""){
      M.toast({html: 'Digite el examen de visión'});
      return false
    }
  }
  
  
  datos={
    PERSONAID:localStorage.getItem("PERSONAID"),
    N_PESOACTUAL:$("#N_PESOACTUAL").val(),
    N_TALLAACTUAL:$("#N_TALLAACTUAL").val(),
    N_CINTURA:$("#N_CINTURA").val(),
    FUMA:$("#FUMA").val(),
    TOMA:$("#TOMA").val(),
    EJERCICIO:$("#EJERCICIO").val(),
    TOS:$("#TOS").val(),
    LESIONES:$("#LESIONES").val(),
    SENO:$("#SENO").val(),
    SENODETALLE:$("#SENODETALLE").val(),
    CITOLOGIA:$("#CITOLOGIA").val(),
    CITOLOGIADETALLE:$("#CITOLOGIADETALLE").val(),
    PROSTATA:$("#PROSTATA").val(),
    PROSTATADETALLE:$("#PROSTATADETALLE").val(),
    VISION:$("#VISION").val(),
    VISIONDETALLE:$("#VISIONDETALLE").val(),
    E_HIPERTENSION:$("#E_HIPERTENSION").val(),
    E_HIPERTENSIONCONTROL:$("#E_HIPERTENSIONCONTROL").val(),
    E_DIABETES:$("#E_DIABETES").val(),
    E_DIABETESCONTROL:$("#E_DIABETESCONTROL").val(),
    E_EPOC:$("#E_EPOC").val(),
    E_EPOCCONTROL:$("#E_EPOCCONTROL").val(),
    E_CANCER:$("#E_CANCER").val(),
    E_CANCERDETALLE:$("#E_CANCERDETALLE").val(),
    E_CANCERCONTROL:$("#E_CANCERCONTROL").val(),
    USUARIOCREACION:localStorage.getItem("userName"),
    MOMENTOCREACION:getFechaActual(),
    ESTADOREGISTRO:1,
    UUID:uuid.v4()
  }
  addPersonaAdultezLocal(datos)
})

</script>
