<!--modal actualizacion-->
<div id="modal-escolar" class="modal">
  <div class="modal-content">
    <h6>Población en edad escolar que se encuentra desescolarizada</h6>
    <div class="divider"></div>
    <br />

    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="ANO">
        <label>Año</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="ULTIMOANO" name="ULTIMOANO"  minlength="4" maxlength="4">
        <label>Último grado cursado</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="NOMBREESTABLECIMIENTO">
        <label>Nombre del establecimiento educativo</label>
      </div>
    </div>    
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="APROBADO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Aprobado</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s6">
        <select class="select" id="HAREPETIDO">
          <option value="NO">NO</option>
          <option value="SI">SI</option>
        </select>
        <label>¿Ha repetido grados?</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="CUALGRADO">
        <label>¿Cuál grado?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="PROBLEMASCONVIVENCIA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>¿Ha tenido problemas de convivencia?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="DIFICULTADSISTEMAEDUCATIVO">
          <option value="1">NO</option>
          <option value="2">Situación económica de los padres</option>
          <option value="3">Distancia a la que están  de los establecimientos educativos</option>
          <option value="4">Estudiante ejerce trabajo</option>
          <option value="5">Embarazo</option>
          <option value="6">Otro</option>
        </select>
        <label class="active">¿Presenta alguna dificultad para integrar al estudiante al sistema educativo?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="DESEAINTEGRARALSISTEMAEDUCATIVO">
          <option value="NO">NO</option>
          <option value="SI">SI</option>
        </select>
        <label class="">¿Desea integrar a su hijo al sistema educativo?</label>
      </div> 
      <div class="input-field col s12">
        <select class="select" id="RAZONPARANOINTEGRAR">
          <option value="1">Es muy pequeño ahora</option>
          <option value="2">En transición</option>
          <option value="3">Solo para primaria</option>
          <option value="4">Otra</option>
        </select>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="ESTABLECIMIENTOCERCA">
          <option value="NO">NO</option>
          <option value="SI">SI</option>
        </select>
        <label class="active">¿Sabe que establecimiento educativo tiene cerca?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <input type="text" id="RAZONESPARANOELEGIRESTABLECIMIENTO" value=" ">
        <label class="active">¿Tiene razones para no elegir el establecimiento cercano a su residencia?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <input type="text" id="ESTABLECIMIENTOPARAHIJO">
        <label class="active">¿Cuál establecimiento educativo quisiera para su hijo?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="HAINTENTADOMATRICULARANTES">
          <option value="NO">NO</option>
          <option value="SI">SI</option>
        </select>
        <label class="active">¿Ha intentado matricular al niño, niña o adolescente antes?</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <input type="text" id="PORQUENOMATRICULO">
        <label class="active">¿Por qué no lo matriculo (en caso que no lo haya logrado)?</label>
      </div>
    </div>
  </div>


    <div class="modal-footer">
    <a id="escolar-guardar" href="#!" class="modal-close waves-effect waves-green btn-flat">Guardar</a>
    <a id="modal-update-cancelar" href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
<!--end modal actualizacion-->
<!--End modals-->
<script>
  $("#modal-escolar").modal({ dismissible: false });
  $("#modal-escolar").modal("open");
  $(".select").formSelect();
  $("#CARIOGENICOS").select2({width: "100%"});
  
  $("#ULTIMOANO, #ANO").on("keyup",function(){
    if (this.value.length > 4){
      this.value = this.value.slice(0,4);
    }
  })

  $("#CUALGRADO").parent().hide()

  $("#HAREPETIDO").change(function(){
    if($("#HAREPETIDO").val()=="SI"){
      $("#CUALGRADO").parent().show()
    }else{
      $("#CUALGRADO").parent().hide()
    }
  })

  $("#RAZONPARANOINTEGRAR").parent().hide()

  $("#DESEAINTEGRARALSISTEMAEDUCATIVO").change(function(){
    if($("#DESEAINTEGRARALSISTEMAEDUCATIVO").val()=="NO"){
      $("#RAZONPARANOINTEGRAR").parent().show()
    }else{
      $("#RAZONPARANOINTEGRAR").parent().hide()
    }
  })

  

  $("#escolar-guardar").click(function() {

    data = {
      PERSONAID: parseInt(localStorage.getItem("PERSONAID")),
      ANNO:$("#ANO").val(),
      ULTIMOANO:$("#ULTIMOANO").val(),
      NOMBREESTABLECIMIENTO:$("#NOMBREESTABLECIMIENTO").val(),
      APROBADO:$("#APROBADO").val(),
      HAREPETIDO:$("#HAREPETIDO").val(),
      CUALGRADO:$("#CUALGRADO").val(),
      PROBLEMASCONVIVENCIA:$("#PROBLEMASCONVIVENCIA").val(),
      DIFICULTADSISTEMAEDUCATIVO:$("#DIFICULTADSISTEMAEDUCATIVO").val(),
      DESEAINTEGRARALSISTEMAEDUCATIVO:$("#DESEAINTEGRARALSISTEMAEDUCATIVO").val(),
      RAZONPARANOINTEGRAR:$("#RAZONPARANOINTEGRAR").val(),
      ESTABLECIMIENTOCERCA:$("#ESTABLECIMIENTOCERCA").val(),
      RAZONESPARANOELEGIRESTABLECIMIENTO:$("#RAZONESPARANOELEGIRESTABLECIMIENTO").val(),
      ESTABLECIMIENTOPARAHIJO:$("#ESTABLECIMIENTOPARAHIJO").val(),
      HAINTENTADOMATRICULARANTES:$("#HAINTENTADOMATRICULARANTES").val(),
      PORQUENOMATRICULO:$("#PORQUENOMATRICULO").val(),
      USUARIOCREACION: localStorage.getItem("userName"),
      UUID:uuid.v4(),
      MOMENTOCREACION:parseInt(getFechaActual()),
      ESTADOREGISTRO:1
    };
    console.log(data);
    addEscolar(data);
  });
</script>
