<!--modal actualizacion-->
<div id="modal-primera-infancia" class="modal">
  <div class="modal-content">
    <h6>Gestación</h6>
    <div class="divider"></div>
    <br />
    <div class="row">
      <div class="input-field col s12">
        <select class="select" id="P_CONTROL">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control parental</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col  s12">
        <select class="select" id="P_CARNE">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Carnet control parental</label>
      </div>
    </div>
    <div class="row"> 
      <div class="input-field col s12">
        <select class="select" id="RIESGO">
          <option value="ALTO">ALTO</option>
          <option value="BAJO">BAJO</option>
        </select>
        <label>Riesgo Materno</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="date" id="FUM">
        <label>Fecha de Ultima Menstruación</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 ">
        <input type="date" id="FPP">
        <label>Fecha Probable de Parto</label>
      </div>
    </div>
    <!--<div class="row">
      <div class="input-field col s12 ">
        <input type="number" name="" id="SEMANAS">
        <label>Gestación en semanas</label>
      </div>
    </div>-->
    <div class="row">
      <div class="input-field col s12">
        <select name="" class="select" id="A_OBSTRETICO">
          <option value="NO">NO</option>
          <option value="SI">SI</option>
        </select>
        <label>Antecedentes Obstétricos</label>
      </div>   
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="A_PARTO" />
        <label>Parto</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="A_CESAREA" />
        <label>Cesarea</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="number" id="A_ABORTO" />
        <label>Oborto</label>
      </div>   
    </div>
    <h6>Valoración Nutricional</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12">
        <input type="number" name="" id="P_GESTANTE">
        <label>Peso actual de la gestante (Kg)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="number" id="CONTROLES">
        <label>Nº Controles Prenatales (trimestre)</label>
      </div>
    </div>
    <h6>Exámenes</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="VIH">
          <option value="N">N</option>
          <option value="A">A</option>
        </select>
        <label>VIH</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="VDRL">
          <option value="N">N</option>
          <option value="A">A</option>
        </select>
        <label>VDRL</label>
      </div>
    </div>
    <h6>ODONTOLOGÍA</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12">
        <select class="select" id="ODONTOLOGIA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label for="">Asistió a control odontológico durante la gestación</label>
      </div>
    </div>
    <h6>VACUNACIÓN</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="TDTT" />
        <label>TD/TT</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="MULTIVITAMINICO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Multivitaminicos</label>
      </div>
    </div>
    <h6>Parto y Pos Parto</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12">
          <select name="" class="select" id="P_TIPO">
            <option value="Cesárea">Cesárea</option>
            <option value="Vaginal">Vaginal</option>
          </select>
          <label>Tipo de parto</label>
        </div>
    </div>
    <h6>ATENCIÓN INSTITUCIONAL Y POSTPARTO</h6>
    <div class="divider"></div>
     <div class="row">
        <div class="input-field col s12">
          <select class="select" name="" id="P_ATENCION">
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
          <label>Atención nutricional y pos parto</label>
        </div>
      </div>  
    <h6>POS PARTO</h6>
    <div class="divider"></div>
      <div class="row">
        <div class="input-field col s12">
          <select class="select" name="" id="POSPARTO">
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
          <label>Consulta de control 8 días</label>
        </div>
      </div>    
     <h6>MOBILIDAD</h6>
      <div class="row">
        <div class="input-field col dosis-vph s6">
          <select class="select" id="M_GEST">
            <option value="NO">NO</option>
            <option value="SI">SI</option>
          </select>
          <label>Gestatión</label>
        </div>
        <div id="" class="input-field col s6">
          <input type="text" id="M_GESTCUAL" />
          <label>Cual?</label>
        </div>
      </div>  
      <div class="row">
        <div class="input-field col dosis-vph s6">
          <select class="select" id="M_PARTO">
            <option value="NO">NO</option>
            <option value="SI">SI</option>
          </select>
          <label>Parto</label>
        </div>
        <div id="" class="input-field col s6">
          <input type="text" id="M_PARTOCUAL" />
          <label>Cual?</label>
        </div>
      </div> 
      <div class="row">
        <div class="input-field col dosis-vph s6">
          <select class="select" id="M_PUERP">
            <option value="NO">NO</option>
            <option value="SI">SI</option>
          </select>
          <label>Pos Parto</label>
        </div>
        <div id="" class="input-field col s6">
          <input type="text" id="M_PUERPCUAL" />
          <label>Cual?</label>
        </div>
      </div> 
    </div>
  <div class="modal-footer">
    <a
      id="guardar-persona-gestacion"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Guardar</a
    >
    <a
      id="modal-update-cancelar"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Cancelar</a
    >
  </div>
</div>
<!--end modal actualizacion-->
<!--End modals-->
<script>
  $("#modal-primera-infancia").modal({ dismissible: false });
  console.log('OK');
  
  $("#modal-primera-infancia").modal("open");
  $(".select").formSelect();
    
 
    $("#M_GEST").change(function () {
      if ($("#M_GEST").val() == "SI") {
        $("#M_GESTCUAL").parent().show();
      } else {
        $("#M_GESTCUAL").parent().hide();
      }
    })
    $("#M_PARTO").change(function () {
      if ($("#M_PARTO").val() == "SI") {
        $("#M_PARTOCUAL").parent().show();
      } else {
        $("#M_PARTOCUAL").parent().hide();
      }
    })
    $("#M_PUERP").change(function () {
      if ($("#M_PUERP").val() == "SI") {
        $("#M_PUERPCUAL").parent().show();
      } else {
        $("#M_PUERPCUAL").parent().hide();
      }
    })

    $("#M_GEST").change()
    $("#M_PARTO").change()
    $("#M_PUERP").change()
    
  $("#FUM").change(function(){
    fecha=new Date($(this).val())
    fecha.setMonth(fecha.getMonth()+9)
    fecha.setDate(fecha.getDate()+7)
    $("#FPP").val(fecha.getFullYear()+"-"+("0" + (fecha.getMonth() + 1)).slice(-2)+"-"+("0" + (fecha.getDate() + 1)).slice(-2))
  })
  
  $("#guardar-persona-gestacion").click(function() {
 
    if($("#FUM").val()==""){
      M.toast({html: 'Digite la fecha de ultima mestruación'})
      return false
    }
    if($("#FPP").val()==""){
      M.toast({html: 'Digite la fecha Probable de parto'})
      return false
    }
   /* if($("#SEMANAS").val()==""){
      M.toast({html: 'Digite el número de semanas'})
      return false
    }*/
    if($("#A_PARTO").val()==""){
      M.toast({html: 'Digite el número de partos'})
      return false
    }
    if($("#A_CESAREA").val()==""){
      M.toast({html: 'Digite el número de cesareas'})
      return false
    }
    if($("#A_ABORTO").val()==""){
      M.toast({html: 'Digite el número de abortos'})
      return false
    }

    if($("#P_GESTANTE").val()==""){
      M.toast({html: 'Digite el peso de la gestante'})
      return false
    }

    if($("#CONTROLES").val()==""){
      M.toast({html: 'Digite el número de controles prenatales'})
      return false
    }
    if($("#TDTT").val()==""){
      M.toast({html: 'Digite los controles TD / TT'})
      return false
    }
    
    datos = {
      PERSONAID: localStorage.getItem("PERSONAID"),
      P_CONTROL:$("#P_CONTROL").val(),
      P_CARNE:$("#P_CARNE").val(),
      RIESGO:$("#RIESGO").val(),
      FUM:$("#FUM").val(),
      FPP:$("#FPP").val(),
      SEMANAS:0,//$("#SEMANAS").val(),
      A_OBSTRETICO:$("#A_OBSTRETICO").val(),
      A_PARTO:$("#A_PARTO").val(),
      A_CESAREA:$("#A_CESAREA").val(),
      A_ABORTO:$("#A_ABORTO").val(),
      CONTROLES:$("#CONTROLES").val(),
      VIH:$("#VIH").val(),
      VIHDETALLE:$("#VIHDETALLE").val(),
      VDRL:$("#VDRL").val(),
      VDRLDETALLE:$("#VDRLDETALLE").val(),
      ODONTOLOGIA:$("#ODONTOLOGIA").val(),
      TDTT:$("#TDTT").val(),
      MULTIVITAMINICO:$("#MULTIVITAMINICO").val(),
      P_TIPO:$("#P_TIPO").val(),
      P_ATENCION:$("#P_ATENCION").val(),
      P_GESTANTE:$("#P_GESTANTE").val(),
      POSPARTO:$("#POSPARTO").val(),
      M_GEST:$("#M_GEST").val(),
      M_GESTCUAL:$("#M_GESTCUAL").val(),
      M_PARTO:$("#M_PARTO").val(),
      M_PARTOCUAL:$("#M_PARTOCUAL").val(),
      M_PUERP:$("#M_PUERP").val(),
      M_PUERPCUAL:$("#M_PUERPCUAL").val(),
      USUARIOCREACION: localStorage.getItem("userName"),
      MOMENTOCREACION: getFechaActual(),
      ESTADOREGISTRO: 1,
      UUID: uuid.v4()
    };
    console.log(datos)
    addGestacionLocal(datos);
  });
</script>
