<!--modal actualizacion-->
<div id="modal-segunda-infancia" class="modal">
  <div class="modal-content">
    <h6>Información primera infancia</h6>
    <div class="divider"></div>
    <br />
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="CONTROLCYD">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Control CYD</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="N_PESOACTUAL" />
        <label>Peso</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field tiempo-lactancia col s12">
        <input type="number" id="N_TALLAACTUAL" />
        <label>Talla</label>
      </div>
    </div>
    <h6>Salud Oral</h6>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12">
          <select class="select" name="S_FACTORCARIOGENICOID" id="S_FACTORCARIOGENICOID">
            <option value="1">USO NOCTURNO DE BIBERON</option>
            <option value="2">FRECUENCIA DE CEPILLADO (< 2 AL DIA)</option>
            <option value="3">NO USO DE CREMA DENTAL</option>
            <option value="4">NO USO DE SEDA DENTAL</option>
            <option value="5">CONSUMO DE DULCES </option>
        </select>
        <label>Factores Cariogenicos</label>
      </div>
  <!--<div class="input-field col s6">
        <input type="number" id="S_NUMEROCEPILLADA"/>
        <label>N° Cepilladas</label>
      </div>-->
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select class="select" id="S_CONSULTAODONTOLOGO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Consulta Odontologo</label>
      </div>
    </div>
    <div class="divider"></div>
    <h6>Vacunación</h6>
    <div class="row">
      <div class="input-field col s12">
        <select class="select" id="V_CARNE">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Carnet</label>
      </div>
      <!--<div class="input-field col s6">
        <select class="select" id="V_VPH">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>VPH</label>
      </div>-->
    </div>
  <!--  <div class="row">
  <div class="input-field col dosis-vph s6">
        <input type="number" id="V_VPHDOSIS" />
        <label>Dosis VPH</label>
      </div>
      <div class="input-field col s6">
      <select class="select" id="V_TT">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>TT / TD</label>
      </div>
    </div>-->
    <div class="row">
      <div class="input-field col s6">
        <select class="select" id="V_ESQUEMA">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Esquema</label>
      </div>
      <div class="input-field col s6">
        <select class="select" id="MALTRATO">
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <label>Maltrato</label>
      </div>
    </div>
   <!-- <div class="row">
      <div class="input-field col s6">
        <input type="number" id="NUMERODESPARASITADA" placeholder="Numero de veces"/>
        <label class="active">Desparasitado</label>
      </div>
      
    </div>-->
    
  </div>
  <div class="modal-footer">
    <a
      id="guardar-segundainfancia"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Guardar</a
    >
    <a
      id="modal-update-cancelar"
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      >Cancelar</a
    >
  </div>
</div>
<!--end modal actualizacion-->
<!--End modals-->
<script>
  //  $("#CARIOGENICOS").select2({width: "100%"});

  $("#modal-segunda-infancia").modal({ dismissible: false,onOpenEnd:function(){
    $("#guardar-segundainfancia").click(function(){

        if($("#N_PESOACTUAL").val()==""){
          M.toast({html: 'Digite el peso actual'});
          return false
        }
        if($("#N_TALLAACTUAL").val()==""){
          M.toast({html: 'Digite la talla actual'});
          return false
        }
       /* if($("#S_NUMEROCEPILLADA").val()==""){
          M.toast({html: 'Digite el número de cepilladas'});
          return false
        }
        if($("#V_VPH").val()=="SI"){
          if($("#V_VPHDOSIS").val()==""){
            M.toast({html: 'Digite las dosis de VPH'});
            return false
          }
        }*/
        if($("#NUMERODESPARASITADA").val()==""){
          M.toast({html: 'Digite el número de desparasitadas'});
          return false
        }

          datos = {
            "PERSONAID":localStorage.getItem('PERSONAID'),
            "CONTROLCYD":$("#CONTROLCYD").val(),
            "N_PESOACTUAL":$("#N_PESOACTUAL").val(),
            "N_TALLAACTUAL":$("#N_TALLAACTUAL").val(),
            "S_FACTORCARIOGENICOID":$("#S_FACTORCARIOGENICOID").val(),
            "S_NUMEROCEPILLADA":0,
            "S_CONSULTAODONTOLOGO":$("#S_CONSULTAODONTOLOGO").val(),
            "V_CARNE":$("#V_CARNE").val(),
            "V_VPH":'',
            "V_VPHDOSIS":0,
            "V_TT":0,
            "V_ESQUEMA":$("#V_ESQUEMA").val(),
            "MALTRATO":$("#MALTRATO").val(),
            "NUMERODESPARASITADA":0,
            "USUARIOCREACION":localStorage.getItem('userName'),
            "MOMENTOCREACION":getFechaActual(),
            "ESTADOREGISTRO":1,
            "UUID":uuid.v4()
        }
        addPersonaSegundaInfanciaLocal(datos)
        })
  } });
  $("#modal-segunda-infancia").modal("open");
  $(".select").formSelect();
  $("#V_VPH").change(function() {
    if ($("#V_VPH").val() == "SI") {
      $(".dosis-vph").show();
    } else {
      $(".dosis-vph").hide();
    }

    

    

  });
</script>
